#Main::before {
    height: 480px;
}

.subTop {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
    box-sizing: border-box;

    h1 {
        font-size: 44px;
        color: #fff;
        opacity: 0.96;
        margin-bottom: 20px;
    }

    ul li {
        display: inline-block;
        margin: 0 20px;
        position: relative;

        a {
            font-size: 22px;
            font-weight: 500;
            color: #fff;
            opacity: 0.4;
        }

        &::before {
            content: '';
            width: 2px;
            height: 20px;
            background: #fff;
            position: absolute;
            left: -20px;
            top: 55%;
            transform: translateY(-50%) skewX(-20deg);
            opacity: 0.4;

        }

        &:first-child::before {
            width: 0;
        }

        &.on a {
            opacity: 0.85;
        }
    }
}


.section {
    width: 100%;
    max-width: 1400px;
    background: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 120px 100px;
    margin: 0 auto 120px;
    overflow: hidden;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);

    .sub-title {
        margin-bottom: 100px;

        h2 {
            font-size: 38px;
            color: #333;
            text-align: center;
        }
    }
}


.ft_og {
    color: #F77357;
}


/**************************************************************
IllegalAreaGuide.js 불법주정차 금지구역
***************************************************************/

.tabMenu {
    margin-bottom: 50px;

}

/* MuiTab */
.css-1ujnqem-MuiTabs-root,
.css-jpln7h-MuiTabs-scroller {
    overflow: inherit !important;
}

.css-ahj2mt-MuiTypography-root {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif !important;
}

.css-heg063-MuiTabs-flexContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    color: #888 !important;
    font-size: 18px !important;
    font-family: inherit !important;
    font-weight: 400 !important;
    letter-spacing: normal !important;
    line-height: 1.65 !important;
    min-height: auto !important;
    min-width: auto !important;
    max-width: 380px !important;
    background: #fafafa !important;
    border-radius: 5px !important;
    padding: 15px !important;
    box-sizing: border-box !important;
    flex: 1 1 30% !important;
    margin: 10px 0 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #191D73 !important;
    background: #fff !important;
    border: 1px solid #191D73;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    font-weight: 500 !important;
}

.css-1aquho2-MuiTabs-indicator {
    display: none;
}

.css-19kzrtu {
    padding: 0 !important;
}

.guideImg {
    padding: 0 40px 40px 0;

    .swiper {
        border-radius: 10px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            left: 30px;
            bottom: 30px;
            width: auto;
        }

        .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
        .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
            background: #fff;
        }

        .swiper-pagination-bullet-active {
            width: 20px;
            border-radius: 4px;
        }
    }

    .slideImg {
        background-size: cover;
        width: 100%;
        height: 360px;
        background-position: center;
    }
}

.guideTxt {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    min-height: 360px;
    text-align: justify;

    .gtTop {

        h3 {
            font-size: 28px;
            color: #444;
            font-weight: 700;
            margin-bottom: 30px;
        }

        p {
            font-size: 20px;
            color: #555;
        }
    }

    .checkTxt {
        li {
            font-size: 18px;
            color: #444;
            position: relative;
            padding-left: 30px;
            margin-bottom: 10px;
            line-height: 1.65;

            &::before {
                content: '';
                background: url(../../images/check.png)no-repeat;
                width: 18px;
                height: 18px;
                position: absolute;
                left: 0;
                top: 4px;
            }
        }
    }
}